<div class="wrapper row1">
    <header id="header" class="clear">
        <hgrop style="color: aliceblue;
    line-height: 10px;">
            <h1> هتل آنلاین</h1>
            <h4> رزرو آنلاین بهترین هتل های سراسر ایران</h4>
        </hgrop>
        <nav>
            <ul>
                <li><a href="{%url 'blog:home'%}">خانه</a></li>
                <li><a href="{%url 'blog:search'%}">جست و جو</a></li>
                <li> <a href="{%url 'blog:reservation_tracking'%}">پیگیری رزرو</a></li>
                {% if request.user.is_authenticated %}
                    <li><a href="{%url 'AccountApp:profile'%}">حساب کاربری</a></li>
                    <li><a href="{%url 'AccountApp:logout'%}">خروج</a></li>
                {% else %}
                    <li><a href="{%url 'AccountApp:login'%}">ورود/ثبت نام</a></li>
                {% endif %}
            </ul>
        </nav>
        <hr style="border: #4caf50 solid;">

    </header>
</div>