{% load jalali_tags%}
{% load staticfiles %}
{% load mytags %}


<!DOCTYPE html>
<html dir="rtl">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>مقایسه هتل ها</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/compare_hotel.css' %}" type="text/css">
</head>
<body style="color: white;">
{% include "header.html" %}
<br><br>
<div class="black-box">

<h3>مقایسه هتل ها</h3>

<form method="post">
    {% csrf_token %}

    <label for="hotel1">مقایسه</label>
    <select name="hotel1" id="hotel1">
        <option selected disabled hidden style='display: none' value=''></option>
        {% for hotel in hotel_list %}
          <option value="{{hotel.id}}">{{hotel.name}}</option>
        {% endfor %}
    </select>

    <label for="hotel2">با</label>
    <select name="hotel2" id="hotel2">
        <option selected disabled hidden style='display: none' value=''></option>
        {% for hotel in hotel_list %}
          <option value="{{hotel.id}}">{{hotel.name}}</option>
        {% endfor %}
    </select>

    <input type="submit" value="مقایسه کن">
</form>

</div>

{% if hotel1 and hotel2 %}

<table class="table-fill">
<tbody>
<tr>
  <td class="column1"></td>
  <td class="text-right"><img class="hotel-img" src="{{pic1.picture.url}}"></td>
  <td class="text-right"><img class="hotel-img" src="{{pic2.picture.url}}"></td>
</tr>
<tr>
  <td class="column1">نام هتل</td>
  <td class="text-right hotel-name">
    <a href="{{ hotel1.get_absolute_url }}">هتل {{hotel1.name}}</a>
  </td>
  <td class="text-right hotel-name">
    <a href="{{ hotel2.get_absolute_url }}">هتل {{hotel2.name}}</a>
  </td>
</tr>
<tr>
  <td class="column1">درجه</td>
  <td class="text-right">
    {% for i in hotel1.rating|myrange %}
        <span class="fa fa-star checked"></span>
    {% endfor %}
  </td>
  <td class="text-right">
    {% for i in hotel2.rating|myrange %}
        <span class="fa fa-star checked"></span>
    {% endfor %}
  </td>
</tr>
<tr>
  <td class="column1">آدرس</td>
  <td class="text-right">{{hotel1.address}}</td>
  <td class="text-right">{{hotel2.address}}</td>
</tr>
<tr>
  <td class="column1">توضیحات</td>
  <td class="text-right">{{hotel1.description}}</td>
  <td class="text-right">{{hotel2.description}}</td>
</tr>
<tr>
  <td class="column1">شروع قیمت از (تومان)</td>
  <td class="text-right">{{hotel1.ordinary_rooms_price}}</td>
  <td class="text-right">{{hotel2.ordinary_rooms_price}}</td>
</tr>
<tr>
  <td class="column1">بیشترین قیمت (تومان)</td>
  <td class="text-right">{{hotel1.vip_rooms_price}}</td>
  <td class="text-right">{{hotel2.vip_rooms_price}}</td>
</tr>
<tr>
  <td class="column1">تخفیف (درصد)</td>
  <td class="text-right">{{hotel1.discount}}</td>
  <td class="text-right">{{hotel2.discount}}</td>
</tr>
</tbody>
</table>
{% endif %}

</body>
</html>
