{% load staticfiles %}


<!DOCTYPE html>
<html dir="rtl">
<head lang="en">
    <meta charset="UTF-8">
    <title>هتل {{hotel.name}}</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css">

</head>
<body style="color: white;">
{% include "header.html" %}
<br><br><br>
<h2>هتل {{hotel.name}}</h2>

<p>
    درجه هتل : {{hotel.rating}}<br/>
    تلفن تماس: {{hotel.phone}}<br/>
    شهر: {{hotel.city}}<br/>
    آدرس: {{hotel.address}}<br/>
</p>

<a href="{% url 'blog:hotel_reserve' hotel.id %}"><input type="button" value="رزرو"></a>



<form method="post">
    {% csrf_token %}
    {{score_form.as_p}}
    <input type="submit" value="ارسال نظر">
</form>


<p>
    {% for item in scores_list %}
        {{item.score}}<br />
        {{item.description}}<br />
    {% endfor %}
</p>
</body>
</html>