{% load staticfiles %}

<!DOCTYPE html>
<html dir="rtl">
<head lang="en">
    <meta charset="UTF-8">
    <title>هتل آنلاین</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css">

</head>
<body>
{% include "header.html" %}
<div class="wrapper row2" style="margin-bottom: 50px;">
   <div class="body">
    <p > </p>
       <br><br><br>

       <div class="article">
        <h3>با رزرو هتل ، مطمئن و معتبر سفر کنید</h3>
       <article>
           سایت هتل آنلاین یکی از معتبرترین سایت های رزرو هتل در ایران می باشد که شما مسافران گرامی می توانید با حذف واسطه در فرآیند رزرو هتل و هتل آپارتمان از قیمت روز هتل ها و مراکز اقامتی شهرهای ایران اطلاع یافته و انواع تخفیف لحظه ای را مشاهده نمائید.<br>
با رزرو هتل و هتل آپارتمان به صورت اینترنتی در هتل آنلاین، اقامتی مطمئن و ارزان در سفر داشته باشید. همچنین با رزرو هتل به شما امتیاز ویژه ای اختصاص یافته که می توانید در سفرهای بعدی بجای پول از امتیازهای خود برای رزرو هتل یا تخفیف بیشتر استفاده نمائید. مسافران رزرواسیون هتل آنلاین میتوانند مشخصات کامل، امکانات، آدرس و موقعیت هر هتل روی نقشه گوگل، وضعیت اتاق های هتل در یک بازه زمانی، عکس و تصویر های مختلف از امکانات هتل و فاصله هتل تا اماکن مهم تاریخی و دیدنی را پیش از رزرو هتل مشاهده کنند.
نظرات مسافرهای دیگر که در آن هتل اقامت داشته اند می تواند راهنمای مناسب برای انتخاب مطمئن و رزرو هتل باشد. همچنین تجربه شما بعد از اقامت در هتل در قالب نقد و بررسی هتل به قلم مسافران در سایت "هتل آنلاین" ثبت می شود و می تواند راهنمای مناسبی جهت انتخاب هتل و اقامتی به یاد ماندنی در مسافرت برای مسافران هتل یار باشد. 
       </article>

       </div>

       <div class="suggest">
        <p>پیشنهاد هتل :</p>
        {% for hotel in hotel_suggestions %}
           <div class="sugg1">
              <a href="{{hotel.get_absolute_url}}"><p>هتل {{hotel.name}}</p></a>
              <center><img src="{{hotel.logo.url}}" width="350" height="200"></center>
           </div>
        {%endfor%}
       </div>
   </div>

</div>

<div class="wrapper3 row3">
    <footer id="footer" class="clear">
        <p class="fl_left">Copyright &copy; 2020 - All Rights Reserved </p>

        <p class="fl_right">designed by qazal</p>
    </footer>
</div>

</body>
</html>