{% load jalali_tags%}
{% load staticfiles %}
{% load mytags %}


<!DOCTYPE html>
<html dir="rtl">
<head lang="en">
    <meta charset="UTF-8">
    <title>فاکتور رزرو</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css">
    <!-- <link rel="stylesheet" href="{% static 'css/search.css' %}" type="text/css"> -->
</head>
<body>
{% include "header.html" %}
<br><br><br>
<div style="color: white;">
<h2>رزرو با موفقیت انجام شد</h2>
    

کاربر:‌ {{reserve.user.username}}<br>
کد پیگیری:‌ {{reserve.trackingCode}}<br>
تاریخ ورود:‌ {{reserve.beginDate|to_jalali:'%y-%m-%d'}}<br>
تاریخ خروج:‌ {{reserve.endDate|to_jalali:'%y-%m-%d'}}<br>
مجموع قیمت: {{reserve.totalPrice}}<br>
اتاق های: {{ reserve|room_numbers }}
</div>
</body>
</html>