{% load staticfiles %}


<!DOCTYPE html>
<html dir="rtl">
<head lang="en">
    <meta charset="UTF-8">
    <title>جست و جو</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css">
    <!-- <link rel="stylesheet" href="{% static 'css/search.css' %}" type="text/css"> -->

    <style>
      .pagination {
        display: inline-block;
      }

      .pagination a {
        color: white;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
      }

      .pagination a.active {
        background-color: #4CAF50;
        color: white;
        border-radius: 5px;
      }

      .pagination a:hover:not(.active) {
        background-color: green;
        border-radius: 5px;
      }
    </style>
</head>
<body>
{% include "header.html" %}

<br><br><br>
<form method="get">
    <input type="text" {%if hotel_name%}value={{hotel_name}}{%endif%} name="hotel_name">
    <input type="hidden" value="form1" name="form_select">
    <input type="submit" value="جست و جو">
</form>

<form method="get">
    {% for city in city_list %}
        <span dir="ltr"><input type="checkbox" id="{{ forcount.loop }}" 
        value="{{city}}" name="city_checked" {% if city in city_checked_url %}checked{% endif %}>
        <label for="{{ forcount.loop }}">{{city}}</label></span>
    {% endfor %}
    <input type="hidden" value="form2" name="form_select">
    <input type="submit" value="اعمال فیلتر">
</form>

<h2><p>لیست هتل ها:</p></h2>
{% for hotel in hotel_list %}
    
    <h4>
        <a href="{{ hotel.get_absolute_url }}">
            {{hotel.name}}
        </a>
    </h4>
{% endfor %}

<div class="pagination">
{% if request.GET.form_select == "form2" %}
      {% for i in hotel_list.paginator.page_range %}
          <a href="?page={{i}}{{city_checked_url}}&form_select=form2">{{ i }}</a>
      {% endfor %}
{% elif request.GET.form_select == "form1" %}
      {% for i in hotel_list.paginator.page_range %}
          <a href="?page={{i}}&hotel_name={{hotel_name}}&form_select=form1">{{ i }}</a>
      {% endfor %}
{% else %}
      {% for i in hotel_list.paginator.page_range %}
          <a href="?page={{i}}">{{ i }}</a>
      {% endfor %}
{% endif %}
</div>
</body>
</html>
